#app{
	display: flex;
}
.am-btn{
	outline: none !important;
}
.main{
	height: 30rem;
}
.main div{
	border: 1px solid red;
	height: 100%;
	line-height: 30rem;
	text-align: center;
}

.active span{
	color: #3E83E1 !important;
}

.no_checked{
	font-weight: bold;
	font-size: 12px;
}
.no_checked span{
	color:#aaa;
}
.navbar{
	background: rgba(235,235,235,0.25);
}