.am-slides{
	width: 100%;
    overflow: hidden;
    margin: 0;
    list-style: none;
}
 
.am-slider-default .am-direction-nav a:before{
	color: white;
}
.am-slider-default .am-control-nav li a.am-active{
	background: #f0f0f0;
}
.am-slider-default .am-control-nav li a{
	width: 8px;
	height: 8px;
	border-radius: none;
}
.am-slider-default .am-control-nav{
	bottom:-2px;
}